@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), "Inter", "sans-serif";
  --font-heading: var(--font-outfit), "Outfit", "sans-serif";

  --color-rio-green: #0A5C36;
  --color-rio-green-light: #16A34A;
  --color-rio-yellow: #FACC15;
  --color-rio-blue: #02569B;
  --color-rio-sand: #F7F3EB;
}

:root {
  --background: #F7F3EB;
  --foreground: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-shadow-hero {
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
  }
}